<% if member_signed_in? %>

<h1> List of most played songs</h1>

<table class="table table-hover">
	<tr><td><b>Time played at</b></td>
	<td><b>Song detail</b></td>
	
	
<% @tables.each do |a| %>
<tr>

<td class="success"><%= a.playtime %></td>
<td class="danger"><%= a.list.song.songname %></td>
</tr>
<% end %>

</table>
<% else %>
<h2><em>Please login or signup</em></h2>
<% end %>
